---
// Redirigir a login de caja
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="0;url=/login" />
		<title>La Ruta 11 - Caja</title>
	</head>
	<body>
		<p>Redirigiendo a login...</p>
	</body>
</html>
