---
import VentasDetalleComponent from '../components/VentasDetalle.jsx';
---
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Detalle de Ventas</title>
</head>
<body>
<VentasDetalleComponent client:only="react" />
</body>
</html>
