# Cloudflare R2 Public URL (for images)
AWS_URL=https://pub-d6bf1ac3bcb0465cabadb9eeab426a65.r2.dev

# Database Configuration
APP_DB_HOST=localhost
APP_DB_NAME=ruta11_db
APP_DB_USER=root
APP_DB_PASS=

# WebSocket Configuration
WS_PORT=8080
